<div class="container-fluid">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-center bg-primary text-white">
          <h4>Login</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" method="post" (ngSubmit)="onLogin(loginForm.value)">
            <label for="exampleInputusername1" class="form-label">UserEmail</label>
            <input type="email"
                   class="form-control"
                   id="exampleInputusername1"
                   placeholder="Enter your username"
                   formControlName="email"
            >
            <label for="password" class="form-label">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   placeholder="Enter your password"
                   formControlName="password"
            >
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>
            <a routerLink="/register" class="justify-content-center">Register!!</a>
        </div>
      </div>
    </div>
  </div>
</div>
