<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #333533;">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" >
        <h1 class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        Menu
        </h1>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a routerLink="" class="nav-link align-middle px-0">
              <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Product</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <a routerLink="product-form" class="nav-link px-0"> <span class="d-none d-sm-inline">Product-Form</span></a>
              </li>
              <li>
                <a routerLink="product-list" class="nav-link px-0"> <span class="d-none d-sm-inline">Product-List</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Store</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a routerLink="store-form" class="nav-link px-0"> <span class="d-none d-sm-inline">Store-Form</span></a>
              </li>
              <li>
                <a routerLink="store-list" class="nav-link px-0"> <span class="d-none d-sm-inline">Store-List</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Customer</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
              <li class="w-100">
                <a routerLink="customer-form" class="nav-link px-0"> <span class="d-none d-sm-inline">Customer-Form</span></a>
              </li>
              <li>
                <a routerLink="customer-list" class="nav-link px-0"> <span class="d-none d-sm-inline">Customer-List</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="#" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Transaction</span></a>
          </li>
        </ul>
        <hr>
        </div>
    </div>
    <div class="col py-3" style="background-image: url(/assets/bg.jpeg); background-position: center center; background-size: cover;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
